/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --primary-color : #5D8BF5;
  --primary-color-grey : #3F3F3F;
  --primary-color-orange : #FF930F;
}

$primary-festival-yellow : #FFC303;
$primary-festival-orange : #FF930F;
$primary-festival-red : #FF4403;
$primary-festival-pink : #D35DF5;
$primary-festival-purple : #8364E8;
$primary-festival-blue : #5D8BF5;
@font-face {
  font-family: Inter;
  src: url(assets/font/Inter-font.ttf) format("opentype");
}
body, html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #3F3F3F;
}
body{
  flex-direction: column;
}
