/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --primary-color : #8364E8;
  --secondary-color: #FFFFFF;
  --primary-color-grey : #3F3F3F;
  --primary-color-orange : #FF930F;
  --primary-color-pink : #D35DF5;
  --primary-color-purple : #8364E8;
  --primary-color-red : #FF4403;
  --primary-color-yelow : #FFC303;
}

@font-face {
  font-family: Inter;
  src: url(assets/font/Inter-font.ttf) format("opentype");
}
body, html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #3F3F3F;
}
body{
  flex-direction: column;
}
