<nav class="navbar">
  <a class="navbar-brand" [routerLink]="'/accueil'">
    <img [src]="logoUrl" alt="Logo">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <ng-container *ngFor="let link of navLinks">
        <a [routerLink]="link.url" class="link" routerLinkActive="router-link-active" >
          {{link.name}}
        </a>
      </ng-container>
    </li>
  </ul>
  <div>
    <button mat-raised-button class="register-button" [routerLink]="'/register'">INSCRIPTION</button>
    <button mat-raised-button class="login-button" [routerLink]="'/login'">CONNEXION</button>
  </div>
  <div class="user-profile">
    <img [src]="logoUrl" alt="Avatar">
    <span class="username" [routerLink]="'/profil'">Pseudo</span>
  </div>
</nav>

