.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--primary-color-grey);
  color: #fff;
  padding: 0 20px;
}

.link{
  padding: 15px;
}
.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
}

.navbar-brand img {
  height: 30px;
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  height: 30px;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.register-button {
  padding: 5px 10px;
  background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-color));
  border: none;
  border-radius: 3px;
}
.login-button{
  padding: 5px 10px;
  background-image: linear-gradient(to right, var(--primary-color), var(--primary-color));
  border: none;
  border-radius: 3px;
}
